.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #163E73;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    font-family: 'Lato', sans-serif;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: static;
    left: auto;
    right: auto;
    font-size: 18px;
}

.sidebar li:last-child {
    border-bottom: none;
}


.sidebar li a {
    display: block;
    padding: 10px 1px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sidebar li:hover {
    background-color: #0e61af;
    transition: all 0.5s ease-in-out;
}

.sidebar li a:hover {
    color: #fff;
}

.sidebar li img {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.search {
    margin-left: 240px;
    margin-top: 1px;
}

.search input[type="search"] {
    width: 88%;
    height: 50px;
    padding: 10px; /* отступы внутри поля ввода */
    border: none; /* убираем границы */
    border-radius: 9px; /* закругляем углы */
    background-color: #F1F1F1; /* фоновый цвет */
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
}
.search button {
    background-color: #163E73;
    height: 50px;
    color: white;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
    border-radius: 9px; /* закругляем углы */
    width: 10%;
}
.search button:hover {
    background-color: #0e61af;
    transition: all 0.3s ease-in-out;
}

.accordion-header {
    font-family: 'Lato', sans-serif;
    border-radius: 9px; /* закругляем углы */
    margin-left: 240px;
    height: 100%;
    background-color: #e1e1e1;
    padding: 1px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgba(245, 245, 245, 0.9);
}

.accordion-content {
    display: none;
    padding: 0;
    margin-left: 300px;
    list-style: none;
}
.accordion-content img {
    height: 15px;
    width: 15px;
}

.accordion-header.active {
    background-color: #ffffff;
}

.accordion-header.active + .accordion-content {
    display: block;
}
.hidden {
    display: none;
}

#teacher-info1, #teacher-info2 {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px    ;
    margin-left: 240px;
    background-color: #f6f6f6;
    border-radius: 9px;
}

#teacher-info1 img, #teacher-info2 img {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    border-radius: 9px; /* закругляем углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#teacher-info1 a,
#teacher-info1 p {
    margin-left: 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
#teacher-info2 a,
#teacher-info2 p {
    margin-left: 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

#teacher-info1 a:hover {
    color: #0e61af;
}
#teacher-info2 a:hover {
    color: #0e61af;
}
.accordion-header h3 {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}