.sidebar {
    width: 250px; /* задаем ширину боковой панели */
    background-color: #163E73; /* закрашиваем боковую панель в синий цвет */
    height: 100%; /* задаем высоту боковой панели на 100% */
    position: fixed; /* устанавливаем позиционирование на фиксированное, чтобы панель не прокручивалась вместе со страницей */
    left: 0; /* устанавливаем отступ слева на 0 */
    top: 0; /* устанавливаем отступ сверху на 0 */
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    display: block;
}

.sidebar li a:hover {
    background-color: #0e61af;
}
.sidebar-item img {
    width: 70px;
    height: 70px;
    margin-left: 0px;
}
.sidebar-item {
    display: flex;
    align-items: center;
}
.search {
    margin-left: 300px;
    margin-top: 20px;
}

.search input[type="search"] {
    width: 88%;
    height: 55px;
    padding: 10px; /* отступы внутри поля ввода */
    border: none; /* убираем границы */
    border-radius: 9px; /* закругляем углы */
    background-color: #F1F1F1; /* фоновый цвет */
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.search button {
    background-color: #163E73;
    color: white;
    border: none;
    padding: 15px 16px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 9px; /* закругляем углы */
    height: 55px;
    width: 10%;
}
.search button:hover {
    background-color: #0e61af;
}
.accordion-header {
    font-family: 'Lato', sans-serif;
    border-radius: 9px; /* закругляем углы */
    margin-left: 300px;
    height: 100%;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.accordion-content {
    display: none;
    padding: 10px;
    margin-left: 400px;
}

.accordion-header.active {
    background-color: #ccc;
}

.accordion-header.active + .accordion-content {
    display: block;
}
#teacher-info {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px    ;
    margin-left: 300px;
}

#teacher-info img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
#teacher-info h2,
#teacher-info p {
    margin-left: 100px;
}
.accordion-header h3 {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}